body{
    background-color: LightCyan;
}

.heading1{
    color: red;
    text-align: center;
}

h2{
    text-align: center;
}

h3 {
    color: Gray;
    text-align: center;
}

.pov {
    background-color: salmon;
    margin-right: 200px;
    margin-left: 200px;
}

.lyr {
    text-align: center;
    margin-left: 720px;
    margin-right: 720px;
    background-color: palegreen;
}

.kill{
    color: white;
    background-color: red;
    margin-right: 450px;
    margin-left: 450px;
    font-size: large;
    outline: 5px solid crimson;
}

.lis{
    text-align: center;
    background-color: aquamarine;
    font-size: large;
    margin-right: 450px;
    margin-left: 450px;
    padding: 10px;
    outline: 2px solid black;
}

.home{
    text-align: center;
    background-color: dodgerblue;
    padding: 10px;
    font-size: large;
}

.sansk{
    font-size: xx-large;
}

.listing{
    text-align:center;
    font-size: larger;
}

.table{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
}

.headtable{
    color: maroon;
    border: 2px solid black;
}

.td{
    border: 2px solid grey;
}

.type1{
    background-color: green;
}

.type2{
    background-color: yellow;
}

.type3{
    background-color: #9ACD32;
}

.kalam{
    border: 2px solid black;
}

.sush{
    background-color: lightyellow;
}

.nice{
    background-color: aqua;
}

.water{
    background-color: mediumblue;
    color: white;
}