body{
    background-color: LightCyan;
}

.heading1{
    color: red
}

h2{
    text-align: center;
}

h3 {
    color: Gray;
}

.pov {
    background-color: salmon;
    margin-right: 200px;
    margin-left: 200px;
}

.lyr {
    text-align: center;
    margin-left: 720px;
    margin-right: 720px;
    background-color: palegreen;
}

.kill{
    color: white;
    background-color: red;
    margin-right: 450px;
    margin-left: 450px;
    font-size: large;
}

.list{
    text-align: center;
    background-color: aquamarine;
    font-size: large;
    margin-right: 450px;
    margin-left: 450px;
    outline: 2px solid black;
}